.productDetailsSection {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.productDetailsImageContainer {
	width: 100%;
	height: 35vh;
	position: sticky;
	top: 0;
	z-index: 10;
	box-shadow: 0 2px 5px var(--opaque-black);
}

.productDetailsImageContainer img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 20% 20%;
}

.productDetailsTitle {
	width: 100%;
	text-align: center;
	font-size: 4rem;
	font-weight: 900;
	font-family: var(--title-text);
	color: var(--white);
	text-shadow: 2px 2px 2px var(--primary-color);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.productSymbolsContainer {
	width: 100%;
	padding: 1rem;
	overflow: wrap;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-start;
	position: sticky;
	top: 150px;
	z-index: 11;
}

.productSymbol {
	margin: 0.5rem;
	padding: 0.5rem;
	border-radius: 0.5rem;
	background-color: var(--primary-color);
	color: var(--white);
	display: flex;
	align-items: center;
	justify-content: center;
}

.stockCount {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.rating {
	display: flex;
	justify-content: center;
	align-items: center;
}

.rating span:first-child {
	margin-right: 0.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.rating span:last-child {
	font-size: 1.5rem;
	font-weight: 700;
}

.price {
	display: flex;
	align-items: center;
	justify-content: center;
}

.price span:first-child {
	font-size: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.price span:last-child {
	font-size: 1.5rem;
}

.productDetialsContainer {
	max-width: 1200px;
	padding: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.productDetailsContentContainer {
	border-right: 1px solid var(--primary-color);
}

.productDetailsHeading {
	font-size: 2rem;
	font-weight: 700;
	margin-bottom: 1rem;
	font-family: var(--heading-text);
}

.productDetailsBody {
	font-size: 1rem;
	font-weight: 400;
	font-family: var(--paragraph-text);
}
