.productDetailsSection {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/* position: relative; */
}

.productDetailsImageContainer {
	width: 100%;
	height: 35vh;
	position: sticky;
	top: 0;
	z-index: 10;
	box-shadow: 0 2px 5px var(--opaque-black);
}

.productDetailsImageContainer img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 20% 20%;
}

.productDetailsTitle {
	width: 100%;
	text-align: center;
	font-size: 4rem;
	font-weight: 900;
	font-family: var(--title-text);
	color: var(--white);
	text-shadow: 2px 2px 2px var(--primary-color);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	@media (max-width: 768px) {
		font-size: 2rem;
		line-height: 1.5;
	}
}

.productSymbolsContainer {
	width: 100%;
	padding: 1rem;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	position: sticky;
	top: 150px;
	z-index: 11;

	@media (max-width: 768px) {
		top: 125px;
		padding: 0.5rem;
	}
}

.productSymbol {
	margin: 0.5rem;
	padding: 0.5rem;
	border-radius: 0.5rem;
	background-color: var(--primary-color);
	color: var(--white);
	box-shadow: 0 2px 5px var(--opaque-black);
	display: flex;
	align-items: center;
	justify-content: center;

	@media (max-width: 768px) {
		margin: 0.25rem;
		padding: 0.25rem;
	}
}

.productSymbol > span {
	font-size: 1.5rem;
	font-weight: 700;

	@media (max-width: 768px) {
		font-size: 0.75rem;
		font-weight: 400;
	}
}

.productSymbol > div {
	font-size: 1.5rem;
	font-weight: 700;

	@media (max-width: 768px) {
		font-size: 0.75rem;
		font-weight: 400;
	}
}
.productSymbol > svg {
	font-size: 1.5rem;
	font-weight: 700;
	margin-right: 0.5rem;

	@media (max-width: 768px) {
		font-size: 0.75rem;
		font-weight: 400;
	}
}

.stockCount {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.rating {
	display: flex;
	justify-content: center;
	align-items: center;
}

.rating span:first-child {
	margin-right: 0.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.rating span:last-child {
	font-size: 1.5rem;
	font-weight: 700;

	@media (max-width: 768px) {
		font-size: 0.75rem;
		font-weight: 400;
	}
}

.price {
	display: flex;
	align-items: center;
	justify-content: center;
}

.price span:first-child {
	font-size: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;

	@media (max-width: 768px) {
		font-size: 0.75rem;
		font-weight: 400;
	}
}

.price span:last-child {
	font-size: 1.5rem;

	@media (max-width: 768px) {
		font-size: 0.75rem;
		font-weight: 400;
	}
}

.productDetialsContainer {
	max-height: 2425px;
	max-width: 1200px;
	padding: 1rem;
	display: flex;
	justify-content: center;
	background-color: var(--primary-color);
	border-radius: 0.5rem;
	box-shadow: 0 2px 5px var(--opaque-black);

	@media (max-width: 768px) {
		padding: 0.5rem;
	}
}

.productDetailsContentContainer {
	width: 80%;
}

.productDetailsHeading {
	font-size: 2rem;
	font-weight: 700;
	margin-bottom: 1rem;
	font-family: var(--title-text);
	color: var(--stroke-white);
}

.productDetailsBody {
	font-size: 1rem;
	font-weight: 400;
	font-family: var(--paragraph-text);
	letter-spacing: 0.01rem;
	line-height: 1.5;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	color: var(--white);

	@media (max-width: 768px) {
		font-size: 0.75rem;
		word-spacing: 0.01rem;
	}
}

.productDetailsBody > h2 {
	font-family: var(--heading-text);
}
.productDetailsBody > h3 {
	font-family: var(--heading-text);
}

.productDetailsBookingFormContainer {
	height: 100%;
	width: 30%;
	padding: 1rem;
	position: sticky;
	top: 250px;
}

.bookingButtonContainer {
	width: 20%;
	position: relative;
	display: flex;
	justify-content: center;
}

.bookingButton {
	height: 50px;
	width: 100px;
	font-size: 1rem;
	font-weight: 400;
	font-family: var(--title-text);
	background-color: var(--opaque-primary);
	color: var(--white);
	border: 1px solid var(--opaque-white);
	border-radius: 0.5rem;
	transition: all 0.3s ease;
	cursor: pointer;
	position: sticky;
	top: 650px;
	left: 80%;
	bottom: 1rem;

	@media (max-width: 768px) {
		top: 575px;
		padding: 0.25rem;
	}
}

.bookingButton:hover {
	background-color: var(--opaque-black);
	color: var(--white);
	box-shadow: 0 2px 5px var(--opaque-black);
	transform: scale(1.05);
	font-weight: 700;
	font-size: 1rem;
	height: 75px;
}

/* .reviewsContainer {
	width: 100%;
	height: 100vh;
} */
