.container {
	min-height: 80vh;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(5, minmax(100px, 1fr));
	grid-template-rows: repeat(4, minmax(100px, 1fr));
	place-content: center;
	/* grid-auto-flow: dense; */
	grid-gap: 10px;
	padding: 20px;
}

.item {
	background-color: #ddd;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	color: #333;
}

.item1 {
	grid-column: span 2;
	grid-row: span 4;
	background-color: #f4a261;
}

.item2 {
	grid-column: span 1;
	grid-row: span 4;
	background-color: #2a9d8f;
}

.item3 {
	grid-column: span 1;
	grid-row: span 2;
	background-color: #e76f51;
}

.item4 {
	grid-column: span 1;
	grid-row: span 2;
	background-color: #264653;
}

.item5 {
	grid-column: span 2;
	grid-row: span 2;
	background-color: #e9c46a;
}

/* .item6 {
	grid-column: span 1;
	grid-row: span 2;
	background-color: #f4a261;
}

.item7 {
	grid-column: span 1;
	grid-row: span 2;
	background-color: #2a9d8f;
} */

@media screen and (max-width: 768px) {
	.container {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(5, minmax(300px, 1fr));
		padding: 20px 0;
		gap: 5px;
	}

	.item1 {
		grid-column: span 1;
		grid-row: span 1;
	}

	.item2 {
		grid-column: span 2;
		grid-row: 1 / span 2;
	}

	.item3 {
		grid-column: span 1;
		grid-row: span 1;
	}

	.item4 {
		grid-column: span 2;
		grid-row: span 1;
	}

	.item5 {
		grid-column: span 2;
		grid-row: span 1;
	}
}
