.Modal {
	max-height: 90vh;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--white);
	padding: 20px;
	border-radius: 4px;
	outline: none;
	overflow-y: scroll;
	overflow-x: hidden;

	@media (max-width: 768px) {
		width: 90%;
	}
}

.Overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--opaque-black);
	z-index: 10000;
}

.closeModalButton {
	height: 2rem;
	width: 2rem;
	position: sticky;
	bottom: 95%;
	left: 90%;
	background-color: var(--white);
	border: none;
	border-radius: 50%;
	padding: 10px;
}

.Modal::-webkit-scrollbar {
	width: 8px;
}

.Modal::-webkit-scrollbar-track {
	background: #f1f1f1;
	border-radius: 10px;
}

.Modal::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 10px;
}

.Modal::-webkit-scrollbar-thumb:hover {
	background: #555;
}
