:root {
	--primary-color: #295036;
	--opaque-primary: #295036c4;
	--white: #fcfcfc;
	--opaque-white: #fcfcfc7c;
	--black: #040404;
	--opaque-black: #040404c4;
	--accent-color: #b6c3aa;
	--opaque-accent: #b6c3aac4;
	--safe: #00770a;
	--danger: #860000;
	--google-blue: #4285f4;
	--stroke-black: #080808;
	--stroke-white: #fffbf0;
	--paragraph-text: 'Merriweather Sans', sans-serif;
	--heading-text: 'Roboto Slab', serif;
	--title-text: 'Stardos Stencil', system-ui;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	scroll-behavior: smooth;
}

body {
	overflow-x: hidden;
	background-color: var(--white);
}

a {
	text-decoration: none;
	color: var(--stroke-white);
}

li {
	list-style: none;
}

button {
	text-decoration: none;
	cursor: pointer;
	border: none;
	background: none;
}

p {
	font-family: var(--paragraph-text);
}
