.userPage {
	display: flex;
	position: relative;
}

.userDashNavWrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 10%;
	height: calc(100vh - 150px);
	margin-top: 150px;
}

.userDashMainWrapper {
	flex-grow: 1;
	padding: 1rem;
	width: 90%;
	height: 100%;
	/* margin-left: 10%; */
}
