.mainNav {
	width: 100%;
	padding: 5px 15px;

	display: flex;
	justify-content: space-between;
	align-items: center;

	background-color: var(--white);
	z-index: 1000;

	position: fixed;
	top: 0;
	left: 0;
	right: 0;

	transition: all 0.3s ease-in-out;
}

.mainNav.scrolled {
	padding: 2px 15px;
	background-color: var(--opaque-white);
	box-shadow: 0 2px 5px var(--opaque-black);
}

.logo {
	max-height: 150px;
	max-width: 150px;

	@media (max-width: 768px) {
		max-height: 100px;
		max-width: 100px;
	}
}

.logo.small {
	max-height: 100px;
	max-width: 100px;

	@media (max-width: 768px) {
		max-height: 50px;
		max-width: 50px;
	}
}

.navList {
	display: flex;
	align-items: center;
	justify-content: flex-end;

	width: 50%;
}

.navListItem {
	font-family: var(--title-text);
	font-size: 2rem;
	font-weight: 700;
	margin: 0 15px;
	color: var(--primary-color);
}

.navListItem.small {
	font-size: 1.5rem;
	font-weight: 500;
}
