nav {
	width: 100%;
	padding: 5px 15px;
	margin: 15px;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

img {
	max-height: 150px;
	max-width: 150px;
}

ul {
	display: flex;
	align-items: center;
	justify-content: flex-end;

	width: 50%;
	padding-right: 15px;
}

li {
	font-family: var(--title-text);
	font-size: 2rem;
	font-weight: 700;
	margin: 0 15px;
	color: var(--primary-color);
}
