.userDashboard {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	padding: 1rem;
	background-color: #f9f9f9;
	border-radius: 8px;

	@media (max-width: 768px) {
		padding: 0;
	}
}

.userDashboardTitle {
	font-size: 2rem;
	font-weight: 600;
	color: var(--primary-color);
	font-family: var(--title-text);

	@media (max-width: 768px) {
		font-size: 1.5rem;
	}
}

.dashboard-group {
	background-color: #fff;
	padding: 1rem;
	border-radius: 8px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

	@media (max-width: 768px) {
		padding: 0;
	}
}

.dashboard-group-title {
	font-size: 1.5rem;
	font-weight: 600;
	color: var(--accent-color);
	font-family: var(--heading-text);
	margin-bottom: 1rem;

	@media (max-width: 768px) {
		font-size: 1.2rem;
	}
}
