.bookingDetailsWrapper {
	padding: 1rem;
	background-color: #f9f9f9;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	margin-top: 3rem;
}

.bookingDetailsTitle {
	font-size: 2rem;
	font-weight: 700;
	margin-bottom: 1rem;
	font-family: var(--title-text);
	color: var(--primary-color);
}

.bookingDetailsGroup {
	margin-bottom: 1rem;
}

.bookingDetailsHeading {
	width: 100%;
	font-size: 1.5rem;
	color: #333;
	font-family: var(--heading-text);
}

.bookingDetailsSection p {
	margin: 0.5rem 0;
	font-size: 1rem;
	color: #555;
	font-family: var(--paragraph-text);
}

.bookingDetailsSubmit {
	background-color: var(--primary-color);
	color: var(--white);
	border: none;
	padding: 0.5rem 1rem;
	border-radius: 4px;
}

.bookingDetailsSubmit:hover {
	background-color: var(--opaque-primary);
}
