.user-login-section {
	width: 100%;
	max-width: 400px;
	border: 3px solid var(--primary-color);
	border-radius: 4px;
	padding: 1rem;

	@media (max-width: 768px) {
		margin: 1rem;
		padding: 1rem 0;
	}
}

.user-login-title {
	text-align: center;
	font-size: 2rem;
	font-weight: 700;
	font-family: var(--title-font);
}

.user-login-form {
	width: 100%;
	padding: 1rem;

	@media (max-width: 768px) {
		padding: 0.5rem;
	}
}

.user-login-form-group {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-bottom: 1rem;
}

.user-login-form-group label {
	font-size: 1.2rem;
	font-weight: 700;
}

.user-login-form-group input {
	padding: 0.5rem;
	border-radius: 4px;
	border: 1px solid var(--stroke-black);
}

.user-login-button-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.user-login-button-container button {
	width: 45%;
	padding: 0.5rem;
	border-radius: 4px;
	border: 1px solid var(--stroke-black);
}

.user-login-button {
	background-color: var(--primary-color);
	color: var(--accent-color);
}

.user-register-button {
	background-color: var(--opaque-accent);
	color: var(--stroke-black);
}
