.aboutSection {
	min-height: 100vh;
	width: 100%;
	max-width: 1200px;
	margin: 100px 0;
	padding: 20px;
}

.aboutTitle {
	position: relative;
	width: 100%;
	max-width: 1200px;
	font-size: 3.5rem;
	font-weight: 700;
	font-family: var(--title-text);
	color: var(--primary-color);
	margin-bottom: 50px;

	@media (max-width: 768px) {
		font-size: 2.5rem;
	}
}

.aboutTitle::after {
	content: '';
	position: absolute;
	top: 80%;
	left: -15px;
	height: 5px;
	width: 100%;
	border-radius: 0 0 15px 15px;
	background-color: var(--primary-color);
}

.aboutArticle {
	position: relative;
	padding: 50px 30px;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	font-family: var(--paragraph-text);
}

.aboutArticle::after {
	position: absolute;
	top: 0;
	left: 0;
	content: '';
	width: 100%;
	height: 100%;
	background-color: var(--opaque-primary);
	border-radius: 15px;
}

.aboutArticleTitle {
	margin-bottom: 15px;
	font-family: var(--heading-text);
	color: var(--stroke-black);
	font-size: 2.5rem;
	font-weight: 900;
	z-index: 1;
}

.aboutArticleBody {
	line-height: 2.5rem;
	font-size: 1.5rem;
	font-weight: 500;
	word-spacing: 0.25rem;
	color: var(--accent-color);
	z-index: 1;

	@media (max-width: 768px) {
		font-size: 1rem;
		line-height: 1.5rem;
		word-spacing: 0.1rem;
	}
}

.aboutVideo {
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
	object-position: 50% 20%;
	border-radius: 15px;
	height: 100%;
	width: 100%;
	z-index: -1;
}

@media screen and (max-width: 768px) {
	.aboutArticle {
		padding: 15px;
	}

	.aboutTitle {
		width: 100%;
	}

	.aboutTitle::after {
		left: 0;
	}

	.aboutArticleBody {
		overflow-wrap: break-all;
		hyphens: auto;
		letter-spacing: 1px;
		margin: 0 15px;
	}
}
