.aboutSection {
	width: 100%;
	min-height: 80vh;
	padding: 10px 20px;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;

	@media (max-width: 768px) {
		padding: 10px 5px;
	}
}

.aboutTitle {
	position: relative;
	width: 100%;
	max-width: 1200px;
	font-size: 3.5rem;
	font-weight: 700;
	font-family: var(--title-text);
	color: var(--primary-color);
	margin-bottom: 50px;

	@media (max-width: 768px) {
		padding: 0 15px;
		font-size: 2.5rem;
	}
}

.aboutTitle::before {
	content: '';
	position: absolute;
	top: 80%;
	left: -15px;
	height: 5px;
	width: 100%;
	border-radius: 0 0 15px 15px;
	background-color: var(--primary-color);

	@media (max-width: 768px) {
		left: -15px;
	}
}

.aboutArticle {
	position: relative;
	padding: 50px 30px;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	font-family: var(--paragraph-text);
	white-space: pre-wrap;
	background-color: var(--opaque-primary);

	@media (max-width: 768px) {
		padding: 20px 10px;
	}
}

.aboutArticleTitle {
	margin-bottom: 15px;
	font-family: var(--heading-text);
	color: var(--stroke-black);
	font-size: 2.5rem;
	font-weight: 900;
	z-index: 1;
}

.about-content {
	position: relative;
	display: flow-root;
	font-size: 16px;
	line-height: 1.6;
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
}

.about-content p {
	margin-bottom: 15px;
	font-family: var(--paragraph-text);
}

.about-content p::first-letter {
	font-weight: 700;
	font-size: 1.2rem;
	color: var(--accent-color);
	letter-spacing: 0.1rem;
}

.about-image {
	max-width: 300px;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-image-right {
	float: right;
	margin: 0 0 20px 30px; /* Top, Right, Bottom, Left */
}

.about-image-left {
	float: left;
	margin: 0 30px 20px 0; /* Top, Right, Bottom, Left */
}

/* Responsive adjustments */
@media (max-width: 768px) {
	.about-image {
		max-width: 100%;
		float: none;
		margin: 20px 0;
		display: block;
	}
}
