.aboutSection {
	width: 100%;
	min-height: 80vh;
	padding: 10px 20px;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;

	@media (max-width: 768px) {
		padding: 10px 5px;
	}
}

.aboutTitle {
	position: relative;
	width: 100%;
	max-width: 1200px;
	font-size: 3.5rem;
	font-weight: 700;
	font-family: var(--title-text);
	color: var(--primary-color);
	margin-bottom: 50px;

	@media (max-width: 768px) {
		padding: 0 15px;
		font-size: 2.5rem;
	}
}

.aboutTitle::after {
	content: '';
	position: absolute;
	top: 80%;
	left: -15px;
	height: 5px;
	width: 100%;
	border-radius: 0 0 15px 15px;
	background-color: var(--primary-color);

	@media (max-width: 768px) {
		left: -15px;
	}
}

.aboutArticle {
	position: relative;
	padding: 50px 30px;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	font-family: var(--paragraph-text);

	@media (max-width: 768px) {
		padding: 20px 10px;
	}
}

.aboutArticle::after {
	position: absolute;
	top: 0;
	left: 0;
	content: '';
	width: 100%;
	height: 100%;
	background-color: var(--opaque-primary);
	border-radius: 15px;
}

.aboutArticleTitle {
	margin-bottom: 15px;
	font-family: var(--heading-text);
	color: var(--stroke-black);
	font-size: 2.5rem;
	font-weight: 900;
	z-index: 1;
}

.aboutArticleBody {
	line-height: 2.5rem;
	font-size: 1.5rem;
	font-weight: 500;
	word-spacing: 0.25rem;
	color: var(--accent-color);
	z-index: 1;

	@media (max-width: 768px) {
		font-size: 1rem;
		line-height: 1.5rem;
		word-spacing: 0.1rem;
	}
}

.aboutVideo {
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
	object-position: 50% 20%;
	border-radius: 15px;
	height: 100%;
	width: 100%;
	z-index: -1;
	user-select: none;
	pointer-events: none;
}
